html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.neonButton {
  --clr-neon: hsl(180 100% 54%);
  --clr-bg: hsl(189 21% 16%);
  font-size: 1rem;
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  color: var(--clr-neon);
  border: var(--clr-neon) 0.125em solid;
  padding: 0.25em 1em;
  border-radius: 0.25em;
  text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em currentColor;
  box-shadow: inset 0 0 0.5em 0 var(--clr-neon), 0 0 0.5em 0 var(--clr-neon);
  position: relative;
}

.neonButton::before {
  pointer-events: none;
  content: '';
  position: absolute;
  background: var(--clr-neon);
  top: 120%;
  left: 0;
  width: 100%;
  height: 100%;

  transform: perspective(1em) rotateX(40deg) scale(1, 0.35);
  filter: blur(1em);
  opacity: 0.7;
}

.neonButton::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  box-shadow: 0 0 2em 0.5em var(--clr-neon);
  opacity: 0;
  background-color: var(--clr-neon);
  z-index: -1;
  transition: opacity 100ms linear;
}

.neonButton:hover,
.neonButton:focus {
  color: var(--clr-bg);
  text-shadow: none;
}

.neonButton:hover::before,
.neonButton:focus::before {
  opacity: 0.5;
}
.neonButton:hover::after,
.neonButton:focus::after {
  opacity: 0.5;
}

.filters {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-column-gap: 1rem;
  grid-row-gap: 2rem;
}

.filters img {
  width: 100%;
  height: 30vh;
  object-fit: cover;
}

.filter-container button {
  margin-right: 2rem;
  min-width: 5rem;
  padding: 0.5rem 1rem;
  border: none;
  background: white;
  color: rgb(65, 98, 168);
  border-radius: 1rem;
  border: 2px solid rgb(28, 36, 53);
  font-weight: bold;
  cursor: pointer;
}

button.active {
  background: rgb(65, 98, 168);
  color: white;
}

.webgl {
  position: fixed;
  top: 0;
  left: 0;
  outline: none;
}

.loading-bar {
  position: absolute;
  top: 50%;
  width: 100%;
  height: 2px;
  background: #ffffff;
  transform: scaleX(0.3);
  transform-origin: top left;
  transition: transform 0.5s;
}

.loading-bar.ended {
  transform: scaleX(0);
  transform-origin: 100% 0;
  transition: transform 1.5s ease-in-out;
}

.point {
  position: absolute;
  top: 50%;
  left: 50%;
  /* pointer-events: none; */
}

.point .label {
  position: absolute;
  top: -20px;
  left: -20px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #00000077;
  border: 1px solid #ffffff77;
  color: #ffffff;
  font-family: Helvetica, Arial, sans-serif;
  text-align: center;
  line-height: 40px;
  font-weight: 100;
  font-size: 14px;
  cursor: help;
  transform: scale(0, 0);
  transition: transform 0.3s;
}

.point .text {
  position: absolute;
  top: 30px;
  left: -120px;
  width: 200px;
  padding: 20px;
  border-radius: 4px;
  background: #00000077;
  border: 1px solid #ffffff77;
  color: #ffffff;
  line-height: 1.3em;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 100;
  font-size: 14px;
  opacity: 0;
  transition: opacity 0.3s;
  pointer-events: none;
}

.point:hover .text {
  opacity: 1;
}

.point.visible .label {
  transform: scale(1, 1);
}

.note::after {
  content: '';
  width: 20%;
  height: 2px;
  border-radius: 999px;
  // background-color: #afafaf;
  background: linear-gradient(
    135deg,
    rgba(43, 171, 217, 1) 0%,
    rgba(0, 130, 200, 1) 100%
  );
  position: absolute;
  top: -1.8em;
  left: 0;
}

.note {
  font-size: 0.8em;
  // color: #8a8a8a;
  position: relative;
  margin-top: 4em;
}

/* Scroller styling */
.scroller {
  height: 1.2em;
  line-height: 1.2em;
  position: relative;
  overflow: hidden;
  width: 10em;
}

.scroller > span {
  position: absolute;
  top: 0;
  animation: slide 5s infinite;
  font-weight: bold;
}

@keyframes slide {
  0% {
    top: 0;
  }
  25% {
    top: -1.2em;
  }
  50% {
    top: -2.4em;
  }
  75% {
    top: -3.6em;
  }
}

/*
	The following mixin is taken and edited from this pen - https://codepen.io/hugo/pen/xzjGB
	I have added outlineColor to allow the addition of a text-shadow outline for the text.
 */

@function pow($number, $exp) {
  $value: 1;
  @if $exp > 0 {
    @for $i from 1 through $exp {
      $value: $value * $number;
    }
  } @else if $exp < 0 {
    @for $i from 1 through -$exp {
      $value: $value / $number;
    }
  }
  @return $value;
}

@function fact($number) {
  $value: 1;
  @if $number > 0 {
    @for $i from 1 through $number {
      $value: $value * $i;
    }
  }
  @return $value;
}

@function pi() {
  @return 3.14159265359;
}

@function rad($angle) {
  $unit: unit($angle);
  $unitless: $angle / ($angle * 0 + 1);
  // If the angle has 'deg' as unit, convert to radians.
  @if $unit == deg {
    $unitless: $unitless / 180 * pi();
  }
  @return $unitless;
}

@function sin($angle) {
  $sin: 0;
  $angle: rad($angle);
  // Iterate a bunch of times.
  @for $i from 0 through 10 {
    $sin: $sin + pow(-1, $i) * pow($angle, (2 * $i + 1)) / fact(2 * $i + 1);
  }
  @return $sin;
}

@function cos($angle) {
  $cos: 0;
  $angle: rad($angle);
  // Iterate a bunch of times.
  @for $i from 0 through 10 {
    $cos: $cos + pow(-1, $i) * pow($angle, 2 * $i) / fact(2 * $i);
  }
  @return $cos;
}

@mixin shade(
  $type,
  $color: #3498db,
  $borderColor: #fff,
  $depth: 20,
  $angle: 135deg,
  $long: false,
  $fade: false
) {
  $angle: ($angle - 90);
  $x: 1.1 * cos($angle) + 0px;
  $y: 1.1 * sin($angle) + 0px;
  $darken: (lightness($color) / $depth)/2;
  $opacify: 0;
  $shadow: ();

  @if $long == true {
    $darken: 0;
  }

  @if $fade == true {
    $opacify: (opacity($color) / $depth);
    // added this for rendering in some browsers, remove if you like.
    @include translateZ(0);
  }

  @for $i from 1 through $depth {
    $shadow: $shadow,
      $i *
        $x
        $i *
        $y
        0
        hsla(
          hue($color),
          saturation($color),
          (lightness($color) - ($i * $darken)),
          1 - ($i * $opacify)
        );
  }
  #{$type}-shadow: 1.5px 1.5px 0 $borderColor, 0px 1.5px 0 $borderColor,
    -1.5px -1.5px 0 $borderColor, -1.5px -1.5px 0 $borderColor,
    -1.5px 1.5px 0 $borderColor, 1.5px -1.5px 0 $borderColor, $shadow;
}

//mixin to provide just a basic outline for the text
@mixin outline($color: #fff) {
  text-shadow: 1.5px 1.5px 0 $color, -1.5px -1.5px 0 $color,
    -1.5px -1.5px 0 $color, -1.5px 1.5px 0 $color, 1.5px -1.5px 0 $color;
}

// Define the fonts used in the Pen
@import url(https://fonts.googleapis.com/css?family=Francois+One);
@import url(https://fonts.googleapis.com/css?family=PT+Sans);

// Define the colors
$pink: #88d5bf;
$pinkPastel: hsl(235, 92%, 67%);
$pinkDark: #88d5bf;
$pinkGrayed: #005;

$grayLight: #cac6c5;
$offWhite: #e7e7e7;

//basic header styles
h1,
h2,
h3 {
  font-family: 'PT Sans', sans-serif;
  text-transform: uppercase;
}
// h1 {
//   font-size: 2.4em;
//   background-color: rgba(41, 41, 41, 1);
//   text-align: center;
//   padding: 20px;
//   margin: 0;
//   color: #fff;

//   a {
//     display: block;
//     margin-top: 10px;
//     text-transform: none;
//     color: #aaa;
//     font-size: 16px;
//     text-decoration: none;
//   }
// }
// h2 {
//   font-size: 1.6em;
//   margin: 0;
//   padding: 10px;
//   border-top: 1px solid #ccc;
// }
// h3 {
//   margin: 0;
//   padding: 10px;
// }

// Outer heading wrapper (for descriptions, not for the actual effects)
.headingOuter {
  background: #f1f1f1;
  text-align: center;
  margin-top: 30px;
  border-top: 1px solid #333;
  border-bottom: 1px solid #333;

  &:first-child {
    margin-top: 0;
  }
  h1 + & {
    margin-top: 10px;
  }
}
.headingWrapper {
  text-align: center;
  // background-color: #fff;
  padding: 10px;
}

// default header class – used on all examples
.header {
  display: inline-block;
  text-align: center;
  font-family: 'Francois One', Helvetica, Arial, sans-serif;
  font-size: 40px;
  color: $offWhite;
  text-decoration: none;

  @include outline($grayLight);

  transition: all 400ms ease-in-out;
}

// effect for pushing the text down onto the page
// default is the letters emerging from the page and merging back down on hover
.header--pushDown {
  @include shade(text, #aaa, #333, 10, 135deg, true);

  &:hover {
    transform: translate(9px, 9px);
    @include outline($grayLight);
  }
}

// raising text from page when hovered, so flipped state to header--pushDown class
.header--raiseUp {
  &:hover {
    transform: translate(-9px, -9px);
    @include shade(text, #aaa, #333, 10, 135deg, true);
  }
}

// creates a shadow effect, rather than a raised lettering effect
// simply by adjusting the translate position a little
.header--shadow {
  &:hover {
    transform: translate(5px, 0);
  }

  &.header--raiseUp {
    &:hover {
      transform: translate(-5px, 0);
    }
  }
}

//Brighter colored text
.color-bright {
  // background-color: $pinkPastel;

  & .header {
    color: $pink;
    @include outline($pinkGrayed);
  }

  //push down text
  & .header--pushDown {
    @include shade(text, $pinkDark, #fff, 10, 135deg, true);

    &:hover {
      @include outline($pinkGrayed);
    }
  }

  //raise up text
  & .header--raiseUp:hover {
    @include shade(text, $pinkDark, #fff, 10, 135deg, true);
  }
}

// SVG Pattern text effect
// Same as the above but with a pattern text effect on hover
// Played around with this for a while – cannot be done with background clip and a CSS gradient as the
// text-shadow always appears in front of the background (unless you have no background color on the wrapping element)
// Therefore, use SVG linearGradient and animate the stop points using CSS
svg {
  // position: absolute;
  margin: 0 auto;
  // top: 50%;
  // left: 50%;
  // margin-left: -225px;
}
.header--svg {
  text,
  stop {
    transition: all 350ms ease-in-out;
  }
  text {
    text-transform: uppercase;
    fill: url(#striped);
    @include outline($grayLight);
  }
  &:hover text {
    @include shade(text, #aaa, #333, 10, 135deg, true);
  }

  //animate gradient stop points
  & stop {
    stop-color: $offWhite;
  }
  &:hover stop {
    stop-color: #fff;

    &:nth-child(2),
    &:nth-child(3) {
      stop-color: $pinkGrayed;
    }
  }
}

// Brighter version of the SVG pattern text
.color-bright {
  & .header--svg {
    text {
      fill: url(#stripedColor);
      @include outline($pinkGrayed);
    }
    &:hover text {
      @include shade(text, $pinkDark, #fff, 10, 135deg, true);
    }
  }
  & stop {
    stop-color: $pink;
  }
  & .header--svg:hover stop {
    &:nth-child(2),
    &:nth-child(3) {
      stop-color: #ed5751;
    }
  }
}

// main {
//   z-index: 99;
//   position: absolute;
//   width: 100%;
//   margin: 0px auto;
//   padding: 120px 0px;
//   display: grid;
//   grid-template-columns: repeat(12, 1fr);
// }

td,
th,
p {
  font-family: 'PingFangHK', Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  margin: 0 auto;
  padding: 8px;
}

/* from body */
@font-face {
  font-family: 'HelveticaNeue-CondensedBlack';
  src: url('https://candyfonts.com/wp-data/2019/04/06/51368/HelveticaNeueCondensedBlack.ttf')
      format('woff'),
    url('https://candyfonts.com/wp-data/2019/04/06/51368/HelveticaNeueCondensedBlack.ttf')
      format('opentype'),
    url('https://candyfonts.com/wp-data/2019/04/06/51368/HelveticaNeueCondensedBlack.ttf')
      format('truetype');
}

article {
  margin: 0 auto;
}

header {
  width: 100%;
  background-color: transparent;
  text-align: center;
  box-sizing: border-box;
}

img.logo {
  padding: 0%;
  text-align: center;
}

h1 {
  margin-top: 0 !important;
}

th {
  text-align: left;
}

td {
  padding: 1px;
}

td[rowspan] {
  vertical-align: top;
}

td:empty:after {
  content: '\00a0';
}

section {
  margin: 0 auto;
}

.container {
  width: 100%;
  height: 100%;
}

.container-panel {
  width: 100%;
}

#container-email {
  width: 600px;
  font-size: 14px;
  padding: 50px 30px;
  margin: 0 auto !important;
  background-color: #fff;
  box-shadow: 0 1px 41px rgba(0, 0, 0, 0.01), 0 1px 15px rgba(0, 0, 0, 0.1);
  border-radius: 2px;
}

#container-pdf {
  width: calc(100% - 120px);
  font-size: 16px;
  padding: 0px 60px;
  margin-top: 50px;
  margin: 0 auto !important;
  background-color: #fff;
}

span {
  font-size: inherit;
}

.tr {
  display: table;
  width: 100%;
}

#title-pdf {
  height: 60px;
}

#hr-pdf {
  height: 180px;
}

#width-pdf {
  width: 130px;
}

#width-email {
  width: 130px;
}

.fee-pdf {
  border-bottom: 1px solid #808080;
  padding-left: 8%;
  word-break: break-word;
  font-weight: normal;
}

.fee-email {
  border-bottom: 1px solid #808080;
  padding-left: 2%;
  width: 60%;
  word-break: break-word;
}

.table-pdf {
  font-size: 14px;
}

.table-email {
  font-size: 12px;
}

.div-inline {
  display: inline;
  width: 25%;
  float: left;
}

.button-r {
  padding: 3px 10px 5px 10px;
  border: 1px solid #d8d8d7;
  border-radius: 4px;
  background: #ffffff;
  float: left;
  font-size: 9px;
}

.fontHk {
  font-family: DFYuanMedium-B5;
}

.big_div {
  margin: 0 auto;
  padding: 0;
  clear: both;
  height: auto;
  padding-top: 32px;
  font-size: 14px;
  line-height: 18px;
}

.small1,
.small2,
.small3 {
  margin: 0;
  padding: 0;
  display: inline-block;
  _display: inline;
  *display: inline;
}

.p1 {
  display: none;
}

table,
tr,
td,
th,
tbody,
thead,
tfoot {
  page-break-inside: avoid !important;
}

#leftSide,
#rightSide {
  padding-bottom: 9999px;
  margin-bottom: -9995px;
}

#leftSide {
  width: 55%;
  float: left;
}

#rightSide {
  width: 40%;
  float: right;
}

.table-header {
  padding: 2px;
  margin: 0 auto;
  background-color: #f9f9f9;
  padding-bottom: 0;
  top: 16px;
}

.table .image {
  display: -webkit-box;
  margin: 0 16px;
  padding: 8 0px 8 0px;
  height: 80px;
}

.table-container {
  background: #f1f1f2;
  font-family: Helvetica;
}

.table-row {
  background: #ffffff;
  border-style: #ffffff;
}

.table-row.no-display {
  border: none;
}

.td-main-container {
  width: 100%;
  text-align: center;
}

.td-container.td-space {
  text-align: center;
  display: -webkit-inline-box;
  padding-top: 76px;
}

.td-spacer {
  height: 32px;
}

.default-text {
  padding-left: 5px;
  font-size: 42px;
  font-family: Helvetica Neue;
  font-weight: bold;
  line-height: 36px;
}

.secondary-text {
  font-size: 36px;
  font-family: DFYuanMedium-B5;
  line-height: 38px;
}

.tbody {
  background-color: #ffffff;
}

.footer-instagram-icon {
  vertical-align: middle;
  background: #e10980;
  border-radius: 8px;
}

.footer-facebook-icon {
  vertical-align: middle;
  background-color: #3b5998;
  border-radius: 8px;
}

.table-footer {
  padding: 25px;
  margin: 0 auto;
}

.table-footer .tbody {
  padding: 25px;
  margin: 0 auto;
}

.td-primary-text {
  padding-left: 5px;
  font-size: 14px;
  font-family: Helvetica;
  line-height: 20px;
}

.th-secondary-text {
  font-size: 16px;
  font-family: DFYuanMedium-B5;
  line-height: 18px;
}

.th-primary-text {
  padding-left: 5px;
  font-size: 16px;
  font-family: Helvetica Neue;
  font-weight: bold;
  line-height: 20px;
}
.td-secondary-text {
  font-size: 12px;
  font-family: DFYuanMedium-B5;
  line-height: 18px;
}

.table-pdf.rightside {
  width: 100%;
  min-height: 150px;
}

.long-td {
  width: 25%;
  padding: 1% 0% 1% 0%;
  text-align: center;
}

.short-td {
  width: 12%;
  padding: 1% 0% 1% 0%;
  text-align: center;
}

.longest-td {
  width: 25%;
}

.longest-td .content {
  padding: 5px 0 5px 20px;
}

.leftside .table {
  width: 100%;
  background: #f1f1f2;
  min-height: 180px;
  font-size: 12px;
  padding: 5%;
  font-family: DFYuanMedium-B5;
}

.td-container {
  text-align: center;
  display: -webkit-inline-box;
}

:root {
  ----background: #005;
  --primary: #88d5bf;
  --secondary: #5d6bf8;
  --third: #e27fcb;
}

.shape {
  background: linear-gradient(45deg, var(--primary) 0%, var(--secondary) 100%);
  animation: morph 8s ease-in-out infinite;
  border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  height: 200px;
  transition: all 1s ease-in-out;
  width: 200px;
  z-index: 5;
}

@keyframes morph {
  0% {
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    background: linear-gradient(
      45deg,
      var(--primary) 0%,
      var(--secondary) 100%
    );
  }

  50% {
    border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%;
    background: linear-gradient(45deg, var(--third) 0%, var(--secondary) 100%);
  }

  100% {
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    background: linear-gradient(
      45deg,
      var(--primary) 0%,
      var(--secondary) 100%
    );
  }
}

.filter {
  position: relative;
  max-width: 355px;
  width: 100%;
  border-radius: 25px;
  // padding: 20px 30px 30px 30px;
  background: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  z-index: 3;
  overflow: hidden;
}

.filter-option .tags {
  display: flex;
}
.filter-option .tags .tag {
  height: 25px;
  // margin-top: 25px;
  // margin-bottom: 25 px;
  background: #0071c7;
  border-radius: 30%;
  padding: 4px;
  margin: 8px 8px;
  cursor: pointer;
  transition: all 0.4s ease;
}
.filter-option .tags .tag.active {
  box-shadow: 0 0 0 2px #fff, 0 0 0 4px #0071c7;
}

/************ Projects Css ************/
.project {
  padding: 80px 0;
  position: relative;
  background-color: black;
}
.project h2 {
  font-size: 45px;
  font-weight: 700;
  text-align: center;
}
.project p {
  color: #b8b8b8;
  font-size: 18px;
  letter-spacing: 0.8px;
  line-height: 1.5em;
  margin: 14px auto 30px auto;
  text-align: center;
  width: 56%;
}
.project .nav.nav-pills {
  width: 72%;
  margin: 0 auto;
  border-radius: 50px;
  background-color: rgb(255 255 255 / 10%);
  overflow: hidden;
}
.project .nav.nav-pills .nav-item {
  width: 33.33333%;
}
.project .nav.nav-pills .nav-link {
  background-color: transparent;
  border-radius: 0;
  padding: 17px 0;
  color: #fff;
  width: 100%;
  font-size: 17px;
  letter-spacing: 0.8px;
  font-weight: 500;
  position: relative;
  transition: 0.3s ease-in-out;
  text-align: center;
  z-index: 0;
}
.project .nav.nav-pills .nav-link::before {
  content: '';
  position: absolute;
  width: 0;
  height: 100%;
  background: linear-gradient(
    90.21deg,
    rgb(20, 255, 255) -5.91%,
    #4a2fbd 111.58%
  );
  top: 0;
  left: 0;
  z-index: -1;
  transition: 0.3s ease-in-out;
}
.project .nav.nav-pills .nav-link.active::before {
  width: 100% !important;
}
.project .nav.nav-pills .nav-link.active {
  border: 1px solid rgba(255, 255, 255, 1);
}
.nav-link#projects-tabs-tab-first {
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 55px 0px 0px 55px;
}
.nav-link#projects-tabs-tab-second {
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}
.nav-link#projects-tabs-tab-third {
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 0 55px 55px 0;
}
.proj-imgbx {
  position: relative;
  // border-radius: 30px;
  overflow: hidden;
  // margin-bottom: 24px;
}
.proj-imgbx::before {
  content: '';
  background: linear-gradient(
    90.21deg,
    rgb(20, 255, 255) -5.91%,
    #4a2fbd 111.58%
  );
  opacity: 0.85;
  position: absolute;
  width: 100%;
  height: 0;
  transition: 0.4s ease-in-out;
}
.proj-imgbx:hover::before {
  height: 100%;
}
.proj-txtx {
  position: absolute;
  text-align: center;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.5s ease-in-out;
  opacity: 0;
  width: 100%;
}
.proj-imgbx:hover .proj-txtx {
  top: 50%;
  opacity: 1;
}
.proj-txtx h4 {
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 0.8px;
  line-height: 1.1em;
}
.proj-txtx span {
  font-style: italic;
  font-weight: 400;
  font-size: 15px;
  letter-spacing: 0.8px;
}
.background-image-right {
  top: 20%;
  position: absolute;
  bottom: 0;
  width: 35%;
  right: 0;
  z-index: -4;
}

/************ Projects Css ************/

.app__flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.app__wrapper {
  flex: 1;
  width: 100%;
  flex-direction: column;
  padding: 4rem 2rem;

  @media screen and (max-width: 450px) {
    padding: 4rem 1rem 2rem;
  }
}

.copyright {
  width: 100%;
  padding: 2rem 0 0;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;

  p {
    text-transform: uppercase;
    color: var(--black-color);
  }
}

.app__skills {
  width: 100%;
}

.app__skills-container {
  margin-top: 3rem;

  @media screen and (max-width: 900px) {
    width: 100%;
  }
}

.app__skills-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
  grid-column-gap: 1rem;
  grid-row-gap: 2rem;

  @media screen and (max-width: 900px) {
    justify-content: center;
    align-items: center;
  }
}

.app__skills-item {
  flex-direction: column;
  text-align: center;

  margin: 1rem;

  transition: all 0.3s ease-in-out;

  div {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background-color: #fef4f5;

    img {
      width: 50%;
      height: 50%;
    }

    &:hover {
      box-shadow: 0 0 25px #fef4f5;
    }

    @media screen and (min-width: 2000px) {
      width: 150px;
      height: 150px;
    }

    @media screen and (max-width: 450px) {
      width: 70px;
      height: 70px;
    }
  }

  p {
    font-weight: 500;
    margin-top: 0.5rem;
  }

  @media screen and (min-width: 2000px) {
    margin: 1rem 2rem;

    p {
      margin-top: 1rem;
    }
  }
}

.tag::first-letter {
  text-transform: uppercase;
}

.experience-txtx {
  padding: 8px;
  position: absolute;
  text-align: center;
  top: 20%;
  // left: 50%;
  // transform: translate(-50%, -50%);
  transition: 0.5s ease-in-out;
  // opacity: 0;
  width: 100%;
}
